.booking{
   display: flex;
   flex-direction: row;
   width:90%;
   margin:1px auto;
}
form{
    width:50%;
    padding:2vw;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    margin:1px;
    width:98%;
    height:2vh;
}
label{
    margin:1vh 0;
}
button{
    color: whitesmoke;
    background-color: rgb(7, 66, 161);
    margin:1vh auto;
    margin-bottom: 0;
    width:100%;
    height: 3.5vh;
    font-size:inherit;
    box-shadow: 0 0 20px rgb(0, 19, 72);
}

@media only screen and (max-width: 700px){
    .booking{
        flex-direction: column;
    }
   form,iframe{
        width:90%;
        margin:1px auto;
    }
}