*{
    background-color:rgb(61, 30, 30);
    color:white;
    margin:2vw;
}
img{
    width: 100%;
    margin:1px;
    object-fit:fit;
}
figcaption{
    font-size:2rem;
    text-align:center;
}
footer{
    width: 50%;
    margin:1;
    height:100%;
}

/*Nav Bar*/
nav>ul{
    display: flex;
    font-size:2rem;
    justify-content: space-around;
    margin:3vh 0;
}

/*PROMO*/
.promotion::before{
    content:"FOR LIMITED TIME ONLY!";
    font-weight:800;
    color: rgb(226, 238, 57);
}
.promotion{
    width:100vw;
    font-size: 4rem;
    margin:5vh auto;
    padding:1vw;
    border:2px solid black;
    text-align: center;
}

/*information area*/
.barbers{
    display: inline-grid;
    margin:1vh;
    height:50vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2vw;;
}
.services>ul{
    display: flex;
    height: 80%;
    justify-content: space-around;
    align-content:space-around;
    flex-direction: column;
    font-size: 2rem;
    gap:4vh;

}
.services li{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
