*{
    border-radius:5px;
    margin:1px;
}

body{
    background-color:rgb(61, 30, 30);
    color:white;
    margin:2vw;
}

img{
    width:100%;
}
figcaption{
    font-size:2rem;
    text-align:center;
}

/*Nav Bar*/
nav>ul{
    display: flex;
    padding:2vh;
    background-color: rgb(190, 133, 28);
    color:rgb(31, 21, 9);
    font-size:2rem;
    justify-content: space-around;
    margin:3vw 0;
}

/*PROMO*/
.promotion::before{
    content:"FOR LIMITED TIME ONLY!";
    font-weight:800;
    color: rgb(226, 238, 57);
}
.promotion{
    width:90vw;
    font-size: 3rem;
    margin:5vw 2vw;
    padding:1vw;
    border:2px solid rgb(247, 144, 0);
    text-align: center;
    box-shadow: 0 0 30px rgb(218, 131, 0);
}

/*information area*/
.barbers{
    display: grid;
    margin:2vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:'price barber1 barber2';
    gap:1vw;;
}
.barber1{grid-area: barber1;}
.barber2{grid-area:barber2}
figure > img{
    width:100%;
    object-fit:cover;
    border:1px solid red;
}

/*Our Prices*/
.services li{
    grid-area: price;
    display: flex;
    justify-content: space-between;
}
.services>ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-content:space-around;
    flex-direction: column;
    font-size: 1.5rem;
    padding:1vw;
    border:1px solid red;
}

/*BOX SHADOW for the info*/
.services>ul,figure>img {
    box-shadow: 0 0 20px rgb(216, 69, 69);
}



/* FOOTER Styling */
footer{
    margin:5px;
    padding:2vh;
    text-align: center;
}
footer>img{
    width:10px;
    height:10px;
}
